@font-face {
  font-family: "Quicksand Light";
  src:
    url("/assets/fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Medium";
  src: url("/assets/fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Regular";
  src:
    url("/assets/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Bold";
  src:
    url("/assets/fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand Semibold";
  src:
    url("/assets/fonts/Quicksand-Semibold.ttf") format("truetype");
}